<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabrielgsd</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="icon" href="/resources/img/Gabri-Watching-Icon.jpg" type="image/png" />
    <link rel="stylesheet" href="/resources/css/output-info.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body class="bg-gray-200 flex flex-col min-h-screen">
   
    <%- include('./partials/header.ejs') %>

    <div class="flex-1 flex flex-col overflow-y-auto">

      <%- include('partials/sidebar.ejs', {
        menuItems: [
          {
            "href": "/",
            "name": content.main
          },
          {
            "href": "#formation",
            "name": content.formation.title
          },
          {
            "href": "#hobbies",
            "name": content.hobbies.title
          }
        ]
      }) %>

      <main id="main-content" class="flex-1 flex flex-col relative transition-all duration-300 ml-0">

        <%- include('./partials/section.ejs', {
          id: 'formation',
          content: content.formation
        }) %>

        <%- include('./partials/section-separator.ejs') %>

        <%- include('./partials/section.ejs', {
          id: 'hobbies',
          content: content.hobbies
        }) %>

        <%- include('./partials/footer.ejs') %>

        <script src="../resources/js/templeate.js"></script>
      </main>
    </div>
  </body>
</html>
